.home{
    -fx-background-color:#F55;
}
.espaceA{
    -fx-background-color:#973CB6;
}
.espaceB{
    -fx-background-color:#5EC64D;
}
.espaceC{
    -fx-background-color:#29AAE2;
}
.espaceD{
    -fx-background-color:#FFC225;
}
.espaceE{
    -fx-background-color:#ED47C5;
}
.espaceF{
    -fx-background-color:#BD69FF;
}
.menu{
    -fx-background-color:#223d72;
}
.parent{
    -fx-background-color:#223d72;
}
